
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, p, a {
    font-family: 'Raleway', sans-serif;
}

.navbar-left>img{
   max-height: 75px;
   width: auto;
}

// class: 'header': div top of page, title
// class: 'body': div body text
// class: 'rubric': div either scoring rubric or explanation from soinc
// class: 'checklist': div or button for hiding out items
// class: 'definition': div defining the section