<div class="header"><h2>Analysis & Interpretation of Results</h2></div>

<div class="body">
  <div class="rubric">
    <h3>[K] 8 points</h3>
    <div class="checklist">
      <ol>
        <li>All data discussed and interpreted</li>
        <li>Unusual data points commented on</li>
        <li>Trends in data explained and interpreted</li>
        <li>Enough detail is given to understand data and all statements
        must be supported by the data</li>
      </ol>
    </div>
  </div>
  
  <div class="rubric">
    <h3>Exp Des Scoring Explanation -soinc.org</h3>
    <div class="checklist">
      <ul>
        <li>An explanation of the data obtained including any trends found and
          relevant statistics</li>
        <li>Include a discussion of what the data means</li>
        <li>Discuss trends and what they mean</li>
        <li>Include statistics and what they mean</li>
        <li>Discuss unusual data points, include why they may have occurred and
          whether they are statistically significant</li>
        <li>Do not just restate the data, discuss it.</li>
        <li>It’s ok to throw out ideas that you aren’t sure of</li>
      </ul>
    </div>
</div>

<div class="body">
  <div class="definition">
    <h3>Analysis</h3>
  </div>
</div>