<div class="header">
   <h2>An Experimental Design write-up has a set number of components, and is
   written by 3 team members.</h2>
</div>

<div class="body">
   <div class="box">
      <h3>Components of write-up are as follows:</h3>
   </div>
   
   
</div>
<!--
<div>
   <ul>
      <li><h2>An Experimental Design write-up has the following components:</h2></li>
      <li>Statement of the Problem</li>
   </ul>
</div>
-->