<div class="header">
   <h2>Overview and Documentation</h2>
</div>

<div class="body">
   <ul>
      <li><h3><a href="https://www.soinc.org/experimental-design-c" target="_blank">Sci Oly Official Event Site Including:</a></h3></li>
         <ul>
            <li><p>Scoring Rubric (PDF, updated 9/20/16)</p></li>
            <li><p>Scoring Explanation (PDF)</p></li>   
         </ul>
      <li><h3><a href="https://drive.google.com/file/d/0Byh-b_aBJp-pa1EzWkpIZTN5RjQ/view?usp=sharing" target="_blank">Compendium</a></h3></li>
         <ul>
            <li><p>(PDF) Manual on Experimental Design. Lengthy and old, but is still relevant and provides a solid foundation for this event.</p></li>
         </ul>
      <li><h3>Calendar</h3></li>
   </ul>
</div>