<div>
   <h2>Overview and Documentation</h2>
   <ul>
      <li><h3><a href="https://www.soinc.org/experimental-design-c">Sci Oly Official Event Site Including:</a></h3></li>
         <ul>
            <li><p>Scoring Rubric (PDF, updated 9/20/16)</p></li>
            <li><p>Scoring Explanation (PDF)</p></li>   
         </ul>
      <li><h3>Compendium</h3></li>
   </ul>
</div>